<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Footer Fragment</title>
    <!-- <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag" /> -->
</head>
<body>
    <footer class="navbar-fixed-bottom">
      <div class="container">
        <!-- <p style="font-weight: bold;">当前版本号:V<font th:text="${version}"></font></p> -->
      </div>
    </footer>
</body>
</html>
