<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Header Fragment</title>
</head>
<body>
    <header th:fragment="header" role="banner">
    <style type="text/css">
    #header{
      background:-webkit-linear-gradient(270deg, rgba(45, 206, 137, 1) 0%, rgba(45, 206, 204, 1) 100%);
      background:-moz-linear-gradient(180deg, rgba(45, 206, 137, 1) 0%, rgba(45, 206, 204, 1) 100%);
      background:linear-gradient(180deg, rgba(45, 206, 137, 1) 0%, rgba(45, 206, 204, 1) 100%);
    }
    </style>
        <div id="header" style="min-width: 1024px;">
          <!-- As a link -->
          <b-navbar variant="faded navbar-top" type="light">
            <b-navbar-brand href="#">
              <img th:src="@{/assets/image/logo.png}" alt="Logo" width="32" height="32">
              DDFlow
            </b-navbar-brand>
          </b-navbar>
          <script th:src="@{/assets/js/header.js}"></script>
        </div>
    </header>
</body>
</html>