<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
  <head>
    <title>请登录</title>
    <!-- <th:block th:include="include/public :: head_commons"></th:block> -->
    <link rel="stylesheet" th:href="@{/assets/css/login.css}">
  </head>
  <body>
    <div layout:fragment="content" class="row">
      <form class="form-signin" method="post" th:action="@{/login}">
        <h2 class="form-signin-heading">请登录</h2>
        <!-- use param.error assuming FormLoginConfigurer#failureUrl contains the query parameter error -->
        <th:block th:if="${param.error != null}">
            <div class="alert alert-danger" role="alert">
              <th:block th:if="${session.SPRING_SECURITY_LAST_EXCEPTION != null}">
                  <th:block th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}" />
                </th:block>
            </div>
        </th:block>
        <!-- the configured LogoutConfigurer#logoutSuccessUrl is /login?logout and contains the query param logout -->
        <th:block th:if="${param.logout != null}">
            <div>
                您已登出。
            </div>
        </th:block>
        <p>
          <label for="username" class="sr-only">用户名</label>
          <input type="text" id="username" name="username" class="form-control" placeholder="用户名" required autofocus>
        </p>
        <p>
          <label for="password" class="sr-only">密 码</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="密码" required>
        </p>
        <p>
          <input type="checkbox" class="form-check-input" id="rememberMe" name="remember-me" value="true">
          <label class="form-check-label" for="rememberMe">记住我</label>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
      </form>
    </div>
</body></html>