<!DOCTYPE html>
<html lang="en">
  <head>
    <title>请登录</title>
    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" th:href="@{/assets/thirds/bootstrap.min.css}" />
    <!-- <link type="text/css" rel="stylesheet" th:href="@{/assets/thirds/bootstrap-vue.min.css}" />
    
    Load Vue followed by BootstrapVue
    <script th:src="@{/assets/thirds/vue.min.js}"></script>
    <script th:src="@{/assets/thirds/bootstrap-vue.min.js}"></script>
    
    Load the following for BootstrapVueIcons support
    <script th:src="@{/assets/thirds/bootstrap-vue-icons.min.js}"></script> -->
    <link rel="stylesheet" th:href="@{/assets/css/login.css}">
  </head>
  <body>
    <div class="container">
      <form class="form-signin" method="post" th:action="@{/login}">
        <h2 class="form-signin-heading">请登录</h2>
        <!-- use param.error assuming FormLoginConfigurer#failureUrl contains the query parameter error -->
        <th:block th:if="${param.error != null}">
            <div class="alert alert-danger" role="alert">
              <th:block th:if="${session.SPRING_SECURITY_LAST_EXCEPTION != null}">
                  <th:block th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}" />
                </th:block>
            </div>
        </th:block>
        <!-- the configured LogoutConfigurer#logoutSuccessUrl is /login?logout and contains the query param logout -->
        <th:block th:if="${param.logout != null}">
            <div>
                您已登出。
            </div>
        </th:block>
        <p class="form-group">
          <label for="username" class="sr-only">用户名</label>
          <input type="text" id="username" name="username" class="form-control" placeholder="用户名" required autofocus>
        </p>
        <p class="form-group">
          <label for="password" class="sr-only">密 码</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="密码" required>
        </p>
        <p class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" id="rememberMe" name="remember-me" value="true">记住我
          </label>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
      </form>
    </div>
</body></html>